---
import { githubLink } from '../../configs';
import Github from '../icons/Github.astro';
---

<footer class="footer bg-neutral text-neutral-content p-4 flex justify-center items-center">
  <aside class="flex items-center gap-4">
    <Github />
    <a
      href={githubLink + '/blob/main/LICENSE'}
      target="_blank"
      rel="noopener noreferrer"
      class="text-sm"
    >
      <p>Copyright © {new Date().getFullYear()} - All rights reserved</p>
    </a>
  </aside>
</footer>
